.AddActivityContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 235, 243);
}

.AddActivitySelectWrapper {
  text-align: left;
}

.AddActivityDateWrapper {
  text-align: left;
}

.AddActivityLengthWrapper {
  text-align: left;
}

.AddActivitySelect {
  width: 177px;
}